extends ../layouts/common.pug
block content
  form.form-inline.d-block(action="/products/search", method="GET")
      input.form-control(id="search-text", type="text", placeholder="Type to search..", name='q')
      button.btn.btn-primary.ml-2(style="font-size: 20px") 
        i(class="fas fa-search")
  h1.text-center Product list
  a(href="/cart", style="font-size: 2em; position: relative; left: 80%;") View cart
    i.fas.fa-shopping-cart
  if errors
      each error in errors
        .alert.alert-danger= error
  .product-container.d-flex.flex-wrap.justify-content-around.mt-5
    each product in products
      .card(style='width: 18rem; margin-bottom: 5em')
        img.card-img-top(src=product.product_image, alt='')
        .card-body
          h5.card-title= product.product_name
          p.card-text= product.description
        a.btn.btn-primary(href="/cart/add/" + product.id) Add to cart

  if (pages)
    ul.pagination.d-flex.justify-content-center
      if (current == 1)
        li.disabled
          a First
      else 
        li
          a(href="/products/1") First
      | ...    
      if(Number(current) > 5)
        - var i = Number(current) - 4
      else
        - var i = 1      
      
      if(i!=1)
        li.disabled
          a ... 
      
      - for (; i <= (Number(current) + 4) && i <= pages; i++)
        if(i == current)
          li.active
            a= i
        else
          li
            a(href="/products/" + i)= i
        if (i == Number(current) + 4 && i < pages)
          li.disabled
            a ... 
      |...
      if (current == pages)
        li.disabled 
          a Last
      else
        li
          a(href="/products/" + pages) Last
